{% extends 'music/base.html'%}

{% block body %}
	<div class="albums-container container-fluid">

<!-- Albums-->
<div class="row">
    <div class="col-sm-12">
        <h2>Albums</h2>
    </div>
</div>
    {% for album in all_albums %}
        <div class="col-sm-4 col-lg-2">
            <div class="thumbnail">
                <a href="{% url 'music:details' album.id %}">
                    <img class="img-responsive" src="{{ album.album_logo.url}}">
                </a>
                <div class="caption text-left">
                    <h2 class="text-muted">{{album.album_title}}</h2>
                    <h2 class="text-muted ">{{album.artist}}</h2>

                    <!-- Details-->
                    <a href="{% url 'music:details' album.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                    <!-- Delete Album-->
                    <form action="#" method="post" style=" display : inline">
                        {% csrf_token %}
                        <input type="hidden" name="album.id" value="{{ album.id }}" />
                        <button type="submit" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>

                    <!-- Favorite Album -->
                    <a href="#" class="btn btn-default btn-sm btn-favorite">
                        <span class="glyphicon glyphicon-star {% if album.is_favorite %} active {% endif %}"></span>
                    </a>

                </div>
            </div>
        </div>

    {% endfor %}
{% endblock %}
